/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Common CSS */
body{
  margin: 0;
  padding: 0;
}
.btn-pink {
  padding: 10px 24px;
  background: #E02C6D;
  color: #FFFFFF;
  width: 168px;
  height: 44px;
  left: 156px;
  border: none;
  border-radius: 2px;
  box-shadow: 14px 18px 43px -14px #E0E;
  transition: transform 0.5s;
}
.btn-pink:hover{
  Background: #df2569;
  transform: translateY(-5px);
  box-shadow: none;
  }
h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #0A0826;
}
.btn-pink > a{
  text-decoration: none;
  color: #fff;
}
.arrow{
  padding-left: 10px;
}
h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
h2:hover{
    color: #df2569;
    cursor: pointer;
}
p{
  color: #6C6C6C;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}
/* Header Area CSS */
.header, .highlight{
  background-color: #2D25A0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 677px;
  justify-items: center;
  align-content: center;
}
.header-left h1{
  color: #FFFFFF;
}

.header-img img{
  width: 556px;
  transition: transform 1s ease-in;
}
.header-img img:hover{
  width: 556px;
  transform: scale(1.1);
}


/* Main Area CSS */
.players-list{
display: grid;
grid-template-columns: repeat(3, 1fr);
padding: 5% 15%;
gap: 40px;

}
.player{
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  transition: transform .5s ease-in-out;
}
.player:hover{
  transform:translateY(-8px);
}
.player img{
width:100%;
transition: transform 1s, opacity 1s;
}
.player img:hover{
opacity: .9;
transform: scale(.95);
}

/* Highlights CSS */

.highlight{
background-color: #fff;
padding: 0 15%;
justify-items: end;
}
h1 {
  font-size: 50px;
  line-height: 60px;
}
.highlight-left p {
    margin-top: -20px;
    margin-bottom: 40px;
}
.highlight-img img{
  width: 567px;
  transition: transform .6s ease-in-out;
}
.highlight-img img:hover{
  transform: scale(1.1);
  opacity: .9;
}

/* Social Share CSS */
.follower-container{
  display: flex;
  margin: 3% 15%;
  justify-content: space-around;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 2%;
  border-radius: 3px;
}
.follower-box h2 {
  font-size: 50px;
  color: #DF2569;
  font-family: fantasy;
  line-height: 0px;
}
.follower-box h2:hover {
  color: #2D25A0;
}



/* Newsletter CSS */
.container {
  margin: 5% 15%;
  justify-content: center;
  display: grid;
}
.container h2{
  text-align: center;
  color: #8a8383;
  font-size: 40px;
  line-height: 50px;
  cursor:auto;
}
.form-area {
  display: flex;
  justify-content: center;
}
.subscribe form input[type='email'] {
  width: 45%;
  margin-right: 5%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 50px;
  border: 2px solid #df2569;
  font-size: 18px;
}
.subscribe form input[type='submit'] {
  width: 30%;
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(to right, #df4a80, #ff005d);
  color: #fff;
  box-shadow: 0px 4px 13px #df2569;
  letter-spacing: 2px;
  border: none;
  font-size: 18px;
}

/* Footer CSS */

.footer{
  display: grid;
  justify-content: center;
  margin-top: 7%;
}
.footer-img img{
  width: 483px;
}
.social {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.social img{
  width: 32px;
  margin-right: 14px;
  transition: transform .3s ease-in-out;
}
.social img:hover{
 transform: translateY(-5px); 
}
.copyright p {
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  color: #000000;
}

/*****************/
/* Media Query CSS */
/*****************/





@media screen and (max-width:688px) {
  .header, .highlight {
    grid-template-columns: 1fr;
    margin-bottom: 40px;
}
.header-left h1, .highlight-left h1 {
  font-size: 35px;
  line-height: 45px;
}
.header-img img {
  width: 100%;
  transition: transform .5s ease-in;
  padding-top: 70px;
}
.header-img img:hover{
  width: 100%;
  transform: scale(.95);
}
.players-list {
  grid-template-columns: 1fr;
  padding: 5% 8%;
}

.highlight{
  margin: -5% 8%;
}
.highlight-left{
  padding-bottom: 15%;
}
.highlight-img img {
  width: 100%;
}

.follower-container {
  flex-direction: column;
  text-align: center;
  margin: 3% 8%;
}
.subscribe h2{
  font-size: 29px;
}
.subscribe form input[type='email'], .subscribe form input[type='submit'] {
  width: 45%;
  font-size: 16px;
}
.footer-img img {
  width: 100%;
}

}



/* Media Query For All Small Devices  */


@media screen and (max-width:414px){
.header-left h1 {
  font-size: 35px;
  line-height: 43px;
}
.highlight {
  margin:0;
}
.highlight-left h1 {
  font-size: 30px;
  line-height: 42px;
  padding-bottom: 15px;
}
.follower-container {
  margin: 10% 0%;
}
.subscribe {
  padding-bottom: 10px;
}
.container {
  margin: 5% 5%;
}

.subscribe h2 {
  font-size: 19px;
}
.subscribe form input[type='email'] {
  width: 60%;
  font-size: 15px;
}

.subscribe form input[type='submit'] {
  width: 40%;
  padding: 0;
}
.footer-img img {
  width: 90%;
}
}